<!DOCTYPE html> 
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/cloudy.png">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="container p-5">
            <div class="main-content">
                {{>header}}
                <img class="portrait"  src="/img/myPhoto.jpg">
            </div>
            {{>footer}}
        </div>
        
    </body>
</html>